@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-slate-100;
  overscroll-behavior: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the text box */
  position: absolute;
  z-index: 999;
  top: -37px;
  left: 0;

  /* Fade in the text box */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.cl-userButtonPopoverFooter {
  display: none;
}

.cl-internal-b3fm6y {
  display: none;
}

#cl-section-security {
  display: none;
}

#sidebarWrap {
  position: sticky;
  top: 110px;
  height: auto;
  min-width: 210px;
  max-width: 210px;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #72f8cb;
  order: 1;
}

.logoTooltip {
  position: relative;
  display: inline-block;
}

.logoTooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the text box */
  position: absolute;
  z-index: 999;
  top: 150px;

  /* Fade in the text box */
  opacity: 0;
  transition: opacity 0.3s;
}

.logoTooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.navLogo:hover + .navTitle {
  display: block;
}
.navTitle {
  display: none;
}

.logoTooltip:hover + #home {
  display: none;
}

.navLogo {
  height: auto;
  width: auto;
}
